<mat-toolbar color="primary">
  <button mat-icon-button color="secondary" aria-label="Home icon">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button routerLink="/user/booking">Booking</button>
  <button mat-button routerLink="/user/myBookings" [disabled]="!userService.isAuthenticated()">My bookings</button>
  <button mat-button routerLink="/login" class="spacer" *ngIf="!userService.isAuthenticated()">Login</button>
  <button mat-button class="spacer" (click)="userService.userLogout()" routerLink="/login" *ngIf="userService.isAuthenticated()">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>

